section{
    width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

input{
    width: 400px;
    margin: 0 auto;
    margin-top: 90px;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    display: flex;
    font-size: 18px;
    transition: .2s ease;

    &:focus{
        outline: none;
        width: 420px;
    }
}

.buscador{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-search{
    position: absolute;
    margin-top: 90px;
    color: $gray;
    right: 420px;
    transition: 0.2s ease-in-out;

    &:hover{
        opacity: 0.8;
    }
}

::placeholder {
    color: $gray;
    opacity: 0.8;
}

#catalogo{
    width: 1100px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    flex-direction: row;
    justify-content: space-around;
}

.persona{
    width: 340px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding: 16px 24px;
    border-radius: 20px;
    background-color: $white;
    align-items: center;
    justify-content: center;

    &.invisivel{
        display: none;
    }
}

img{
    border-radius: 200px;
}